@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?93709502');
  src: url('../font/fontello.eot?93709502#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?93709502') format('woff2'),
       url('../font/fontello.woff?93709502') format('woff'),
       url('../font/fontello.ttf?93709502') format('truetype'),
       url('../font/fontello.svg?93709502#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93709502#fontello') format('svg');
  }
}
*/
 
 [class^="fcc-"]:before, [class*=" fcc-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fcc-home:before { content: '\e800'; } /* '' */
.fcc-lock:before { content: '\e801'; } /* '' */
.fcc-lock-open:before { content: '\e802'; } /* '' */
.fcc-down:before { content: '\e803'; } /* '' */
.fcc-left:before { content: '\e804'; } /* '' */
.fcc-right:before { content: '\e805'; } /* '' */
.fcc-up:before { content: '\e806'; } /* '' */
.fcc-resize-full:before { content: '\e807'; } /* '' */
.fcc-resize-full-alt:before { content: '\e808'; } /* '' */
.fcc-resize-small:before { content: '\e809'; } /* '' */
.fcc-resize-small-alt:before { content: '\e80a'; } /* '' */
.fcc-heart:before { content: '\e80b'; } /* '' */
.fcc-heart-empty:before { content: '\e80c'; } /* '' */
.fcc-ok:before { content: '\e80d'; } /* '' */
.fcc-block:before { content: '\e80e'; } /* '' */
.fcc-cancel:before { content: '\e80f'; } /* '' */
.fcc-eye:before { content: '\e810'; } /* '' */
.fcc-bookmark:before { content: '\e811'; } /* '' */
.fcc-bookmarks:before { content: '\e812'; } /* '' */
.fcc-star:before { content: '\e813'; } /* '' */
.fcc-star-empty:before { content: '\e814'; } /* '' */
.fcc-user-add:before { content: '\e815'; } /* '' */
.fcc-mail:before { content: '\e816'; } /* '' */
.fcc-picture:before { content: '\e817'; } /* '' */
.fcc-export:before { content: '\e818'; } /* '' */
.fcc-upload-cloud:before { content: '\e819'; } /* '' */
.fcc-download:before { content: '\e81a'; } /* '' */
.fcc-upload:before { content: '\e81b'; } /* '' */
.fcc-clock:before { content: '\e81c'; } /* '' */
.fcc-listnav:before { content: '\e81d'; } /* '' */
.fcc-carnav:before { content: '\e81e'; } /* '' */
.fcc-地址:before { content: '\e81f'; } /* '' */
.fcc-search:before { content: '\e820'; } /* '' */
.fcc-time:before { content: '\e821'; } /* '' */
.fcc-minus-circled:before { content: '\e822'; } /* '' */
.fcc-minus:before { content: '\e823'; } /* '' */
.fcc-plus-squared:before { content: '\e824'; } /* '' */
.fcc-plus-circled:before { content: '\e825'; } /* '' */
.fcc-plus:before { content: '\e826'; } /* '' */
.fcc-minus-squared:before { content: '\e827'; } /* '' */
.fcc-cancel-1:before { content: '\e828'; } /* '' */
.fcc-cancel-circled:before { content: '\e829'; } /* '' */
.fcc-cancel-squared:before { content: '\e82a'; } /* '' */
.fcc-link:before { content: '\e82b'; } /* '' */
.fcc-attach:before { content: '\e82c'; } /* '' */
.fcc-info-circled:before { content: '\e82d'; } /* '' */
.fcc-info:before { content: '\e82e'; } /* '' */
.fcc-help-circled:before { content: '\e82f'; } /* '' */
.fcc-help:before { content: '\e830'; } /* '' */
.fcc-ccw:before { content: '\e831'; } /* '' */
.fcc-cw:before { content: '\e832'; } /* '' */
.fcc-arrows-ccw:before { content: '\e833'; } /* '' */
.fcc-back-in-time:before { content: '\e834'; } /* '' */
.fcc-lastfm:before { content: '\e835'; } /* '' */
.fcc-stackoverflow:before { content: '\e836'; } /* '' */
.fcc-appstore:before { content: '\e837'; } /* '' */
.fcc-down-open-1:before { content: '\e838'; } /* '' */
.fcc-left-open-1:before { content: '\e839'; } /* '' */
.fcc-right-open-1:before { content: '\e83a'; } /* '' */
.fcc-up-open-1:before { content: '\e83b'; } /* '' */
.fcc-down-open-mini:before { content: '\e83c'; } /* '' */
.fcc-left-open-mini:before { content: '\e83d'; } /* '' */
.fcc-right-open-mini:before { content: '\e83e'; } /* '' */
.fcc-up-open-mini:before { content: '\e83f'; } /* '' */
.fcc-camera:before { content: '\e840'; } /* '' */
.fcc-picture-1:before { content: '\e841'; } /* '' */
.fcc-pinterest:before { content: '\e846'; } /* '' */
.fcc-female:before { content: '\e848'; } /* '' */
.fcc-male:before { content: '\e849'; } /* '' */
.fcc-down-open:before { content: '\f004'; } /* '' */
.fcc-up-open:before { content: '\f005'; } /* '' */
.fcc-right-open:before { content: '\f006'; } /* '' */
.fcc-left-open:before { content: '\f007'; } /* '' */
.fcc-users:before { content: '\f064'; } /* '' */
.fcc-zoom-in:before { content: '\f07e'; } /* '' */
.fcc-zoom-out:before { content: '\f07f'; } /* '' */
.fcc-pinterest-circled:before { content: '\f0d2'; } /* '' */
.fcc-pinterest-squared:before { content: '\f0d3'; } /* '' */
.fcc-apple:before { content: '\f179'; } /* '' */
.fcc-renren:before { content: '\f18b'; } /* '' */
.fcc-tencent-weibo:before { content: '\f1d5'; } /* '' */
.fcc-qq:before { content: '\f1d6'; } /* '' */
.fcc-wechat:before { content: '\f1d7'; } /* '' */
.fcc-facebook:before { content: '\f300'; } /* '' */
.fcc-facebook-rect:before { content: '\f301'; } /* '' */
.fcc-twitter:before { content: '\f302'; } /* '' */
.fcc-twitter-bird:before { content: '\f303'; } /* '' */
.fcc-icq:before { content: '\f304'; } /* '' */
.fcc-github-text:before { content: '\f307'; } /* '' */
.fcc-github:before { content: '\f308'; } /* '' */
.fcc-googleplus-rect:before { content: '\f309'; } /* '' */
.fcc-vkontakte-rect:before { content: '\f30a'; } /* '' */
.fcc-skype:before { content: '\f30b'; } /* '' */
.fcc-vimeo-rect:before { content: '\f30e'; } /* '' */
.fcc-vimeo:before { content: '\f30f'; } /* '' */
.fcc-tumblr-rect:before { content: '\f310'; } /* '' */
.fcc-tumblr:before { content: '\f311'; } /* '' */
.fcc-lastfm-rect:before { content: '\f319'; } /* '' */
.fcc-linkedin-1:before { content: '\f31a'; } /* '' */
.fcc-linkedin-rect:before { content: '\f31b'; } /* '' */
.fcc-wordpress:before { content: '\f31d'; } /* '' */
.fcc-box:before { content: '\f321'; } /* '' */
.fcc-box-rect:before { content: '\f322'; } /* '' */
.fcc-win8:before { content: '\f325'; } /* '' */
.fcc-codepen:before { content: '\f32c'; } /* '' */